<!DOCTYPE html>
<html lang="en">
<head>
  <title>Thoracic Abnormality Prediction</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    /* css for back to top button */
  html {
    scroll-behavior: smooth;
  }
  a , a:hover
  {
    text-decoration: none;
  }
  #button {
    display: inline-block;
    background-color: #01CBC6;
    width: 52px;
    height: 52px;
    text-align: center;
    border-radius: 25px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: lightgreen;
  }
  #button:active {
    background-color: lightgreen;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Styles for the content section */
  
  
  @media (min-width: 500px) {
    
    #button {
      margin: 30px;
    }
  }
  
  </style>
</head>
<body>
    <!-- Back to top button -->
<a id="button"></a>


{% include "footer.html" %}

  <div class="container">
    
  {% include "tumor.html" %}



    <div style="margin: 40px;padding: 20px;font-size: 1.3em;background-color: #67E6DC">

      <ul class="nav nav-tabs" style="background-color: #67E6DC">
        <li class="active"><a data-toggle="tab" href="#home" style="font-family: 'Balsamiq Sans', cursive;">Aortic Enlargement</a></li>
        <li><a data-toggle="tab" href="#menu1" style="font-family: 'Balsamiq Sans', cursive;">Atelectasis</a></li>
        <li><a data-toggle="tab" href="#menu2" style="font-family: 'Balsamiq Sans', cursive;">Calcification</a></li>
         <li><a data-toggle="tab" href="#menu3" style="font-family: 'Balsamiq Sans', cursive;">Cardiomegaly</a></li>
       <li><a data-toggle="tab" href="#menu5" style="font-family: 'Balsamiq Sans', cursive;">Consolidation</a></li>
       <li><a data-toggle="tab" href="#menu6" style="font-family: 'Balsamiq Sans', cursive;">ILD</a></li>
       <li><a data-toggle="tab" href="#menu7" style="font-family: 'Balsamiq Sans', cursive;">Infiltration</a></li>
       <li><a data-toggle="tab" href="#menu8" style="font-family: 'Balsamiq Sans', cursive;">Lung Opacity</a></li>
         <li><a data-toggle="tab" href="#menu9" style="font-family: 'Balsamiq Sans', cursive;">Nodule</a></li>
         <li><a data-toggle="tab" href="#menu10" style="font-family: 'Balsamiq Sans', cursive;"> lesion</a></li>
           <li><a data-toggle="tab" href="#menu11" style="font-family: 'Balsamiq Sans', cursive;">Pleural effusion</a></li>
         <li><a data-toggle="tab" href="#menu12" style="font-family: 'Balsamiq Sans', cursive;">Pleural thickening</a></li>

         <li><a data-toggle="tab" href="#menu13" style="font-family: 'Balsamiq Sans', cursive;">Pneumothorax</a></li>
         <li><a data-toggle="tab" href="#menu14" style="font-family: 'Balsamiq Sans', cursive;">Pulmonary Fibrosis</a></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <p style="font-family: 'Balsamiq Sans', cursive;">The typical size of an abdominal aorta is 2.0 to 3.0 centimeters. An enlarged abdominal aorta is typically greater than 3.0 centimeters, but each patient is different</p>
        </div>
        <!https://healthblog.uofmhealth.org/heart-health/observe-or-operate-when-an-enlarged-aorta-requires-action>
        <div id="menu1" class="tab-pane fade">
          <p style="font-family: 'Balsamiq Sans', cursive;">Atelectasis is a complete or partial collapse of the entire lung or area (lobe) of the lung. It occurs when the tiny air sacs within the lung become deflated or possibly filled with alveolar fluid.</p>
        </div>
        <!https://www.mayoclinic.org/diseases-conditions/atelectasis/symptoms-causes/syc-20369684#:~:text=Atelectasis%20(at%2Duh%2DLEK,(respiratory)%20complications%20after%20surgery.>
        <div id="menu2" class="tab-pane fade">
          <p style="font-family: 'Balsamiq Sans', cursive;">Pulmonary calcification involves the precipitation of calcium salts in lung tissues.</p>
        </div>
        <div id="menu3" class="tab-pane fade">
          <p style="font-family: 'Balsamiq Sans', cursive;"> Cardiomegaly is an enlarged heart. It is not a disease, but a sign of another condition. Less severe forms of cardiomegaly are referred to as mild cardiomegaly. As mild cardiomegaly does not always cause symptoms, many people with a slightly enlarged heart are unaware of the problem.</p>
        </div>
          <div id="menu5" class="tab-pane fade">
          <p style="font-family: 'Balsamiq Sans', cursive;">   Lung consolidation occurs when the air that usually fills the small airways in your lungs is replaced with something else. Depending on the cause, the air may be replaced with: a fluid, such as pus, blood, or water, a solid, such as stomach contents or cells</p>
        </div>
          <div id="menu6" class="tab-pane fade">
          <p style="font-family: 'Balsamiq Sans', cursive;">  Interstitial lung disease (ILD) is a group of many lung conditions. All interstitial lung diseases affect the interstitium, a part of your lungs. The interstitium is a lace-like network of tissue that goes throughout both lungs.</p>
        </div>

          <div id="menu7" class="tab-pane fade">
          <p style="font-family: 'Balsamiq Sans', cursive;"> A pulmonary infiltrate is a substance denser than air, such as pus, blood, or protein, which lingers within the parenchyma of the lungs. Pulmonary infiltrates are associated with pneumonia, and tuberculosis. Pulmonary infiltrates can be observed on a chest radiograph.</p>
        </div>

          <div id="menu8" class="tab-pane fade">
          <p style="font-family: 'Balsamiq Sans', cursive;"> Pulmonary opacification represents the result of a decrease in the ratio of gas to soft tissue (blood, lung parenchyma and stroma) in the lung. When reviewing an area of increased attenuation (opacification) on a chest radiograph or CT it is vital to determine where the opacification is.</p>
        </div>
          <div id="menu9" class="tab-pane fade">
          <p style="font-family: 'Balsamiq Sans', cursive;"> A nodule is a growth of abnormal tissue. Nodules can develop just below the skin. They can also develop in deeper skin tissues or internal organs</p>
        </div>
          <div id="menu10" class="tab-pane fade">
          <p style="font-family: 'Balsamiq Sans', cursive;"> Other lesions: A solitary pulmonary nodule is usually less than three centimeters.</p>
        </div>
          <div id="menu11" class="tab-pane fade">
          <p style="font-family: 'Balsamiq Sans', cursive;"> Pleural effusion, sometimes referred to as “water on the lungs,” is the build-up of excess fluid between the layers of the pleura outside the lungs. The pleura are thin membranes that line the lungs and the inside of the chest cavity and act to lubricate and facilitate breathing.</p>
        </div>
          <div id="menu12" class="tab-pane fade">
          <p style="font-family: 'Balsamiq Sans', cursive;"> Pleural thickening develops when scar tissue thickens the delicate membrane lining the lungs (the pleura).</p>
        </div>
          <div id="menu13" class="tab-pane fade">
          <p style="font-family: 'Balsamiq Sans', cursive;"> A pneumothorax is a collapsed lung. A pneumothorax occurs when air leaks into the space between your lung and chest wall. This air pushes on the outside of your lung and makes it collapse. Pneumothorax can be a complete lung collapse or a collapse of only a portion of the lung</p>
        </div>
          <div id="menu14" class="tab-pane fade">
          <p style="font-family: 'Balsamiq Sans', cursive;"> Pulmonary fibrosis is a lung disease that occurs when lung tissue becomes damaged and scarred. This thickened, stiff tissue makes it more difficult for your lungs to work properly. As pulmonary fibrosis worsens, you become progressively more short of breath</p>
        </div>

      </div>

    </div>


    <div style="background-color:#53E0BC; padding: 20px; margin: 40px">

      <form class="form-horizontal" action="/predict" method="post">
        <div class="form-group">
          <label class="control-label col-sm-2" for="value1" style="font-family: 'Balsamiq Sans', cursive;">Classification</label>
        </div>
        <div >
          <form action="/action_page.php">
            <input type="file" id="myFile" name="filename">
          </form>
          </div>
      
    </div>

    <div style="background-color:#9fbbb4; padding: 20px; margin: 40px">

      <form class="form-horizontal" action="/predict" method="post">
        <div class="form-group">
          <label class="control-label col-sm-2" for="value1" style="font-family: 'Balsamiq Sans', cursive;">Localization</label>
        </div>
        <div>
          <form action="/action_page.php">
            <input type="file" id="myFile" name="filename">
          </form>
          </div>
      </form>
      
    </div>
         <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-primary" type="submit" name="Submit Request">
          </div>
        </div>


  </div>  


</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <script>
      var btn = $('#button');

$(window).scroll(function() {
  if ($(window).scrollTop() > 300) {
    btn.addClass('show');
  } else {
    btn.removeClass('show');
  }
});

btn.on('click', function(e) {
  e.preventDefault();
  $('html, body').animate({scrollTop:0}, '300');
});


    </script>
</body>
</html>
