<div class="row">
    <div class="col-sm-6 " style="background-color:#ccddff;padding: 15px">
      <h2 style="text-align: center; font-family: 'Balsamiq Sans', cursive;">Classification</h2>
      <p style="font-size: 1.2em; font-family: 'Balsamiq Sans', cursive;">
        The project aims to predict the the existence of an abnormality (or its absence) as binary/multilabel output from a chest radiograph.
      </p>
    </div>
    <div class="col-sm-6" style="background-color:#ffccee;padding: 15px">
      <h2 style="text-align: center; font-family: 'Balsamiq Sans', cursive;">Localization</h2>
      <p style="font-size: 1.2em; font-family: 'Balsamiq Sans', cursive;">
   The project also aims to predict the position of bounding boxes, highlighting the location of an abnormality (or its absence)
      </p>
    </div>
  </div>